<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.l3info.utf.mm.MC" >

    <!-- this lignes For Parse !! ;) -->
    <!-- Problem for sytle Theme in Sign Up -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <meta-data android:name="com.parse.push.notification_icon"
    android:resource="@mipmap/ic_launcher"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <permission
        android:name="com.l3info.utf.mm.MC.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.l3info.utf.mm.MC.permission.C2D_MESSAGE" />

    <application
        android:name=".MCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mc" >
        <activity
            android:name=".com.l3info.utf.mm.MC.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- change By Me -->
                <!-- <category android:name="com.parse.starter"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".com.l3info.utf.mm.MC.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".com.l3info.utf.mm.MC.ui.SignUpActivity"
            android:label="@string/login_btn_label"
            android:parentActivityName=".com.l3info.utf.mm.MC.ui.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.l3info.utf.mm.MC.ui.LoginActivity" />
        </activity>



        <activity
            android:name=".com.l3info.utf.mm.MC.ui.FirendsActivity"
            android:label="INBOX"
            android:parentActivityName=".com.l3info.utf.mm.MC.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.l3info.utf.mm.MC.ui.MainActivity" />
        </activity>
        <activity
            android:name=".com.l3info.utf.mm.MC.ui.ReceptacleActivity"
            android:label="@string/title_activity_receptacle"
            android:parentActivityName=".com.l3info.utf.mm.MC.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.l3info.utf.mm.MC.ui.MainActivity" />
        </activity>
        <activity
            android:name=".com.l3info.utf.mm.MC.ui.ViewImage"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".com.l3info.utf.mm.MC.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".com.l3info.utf.mm.MC.ui.MainActivity" />
        </activity>


        <!-- For Parse Notification :):) -->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.l3info.utf.mm.MC" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
